*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: Arial, sans-serif;
  background-color: rgb(207, 230, 244);
  color:rgb(3, 18, 18);
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header{
  display: flex;
  justify-content: space-between; /* pushes title left, nav right */
  align-items: center;           /* vertically aligns them */
  background-color: rgba(73, 129, 226, 0.578);
  padding: 20px 40px;
}
.app-header h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(97, 19, 215, 0.82);
  text-shadow: 0px 3px rgba(17, 5, 80, 0.249);
}

.navbar{
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  display: block;
  color: rgb(248, 248, 248);
  text-shadow: 0px 3px rgba(0, 0, 0, 0.139) ;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none; /* Removes underline */
}

.app-footer {
  margin-top: auto;
  background-color: rgba(73, 129, 226, 0.578);
  padding: 30px;
  color: white;
  text-align: center;
  padding: 15px;
}

.form-section{
  background: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 24px;
  box-shadow: 0 4px 14px rgba(125, 126, 236, 0.637);
  margin: 60px 60px;
}
.form-section h2{
  text-align: center;  
  margin-bottom: 20px;
  color: rgb(14, 1, 15);
}

.flashcard-form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.flashcard-form input{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgba(216, 73, 226, 0.237);
  font-size: 16px;
  width: 60%;
}
.flashcard-form input:focus{
  outline: none;
  border-color: rgba(216, 73, 226, 0.578);
  background-color: rgba(216, 73, 226, 0.578);
}

.flashcard-form button{
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: rgba(150, 50, 157, 0.765);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.flashcard-form button:hover{
  background-color: rgba(150, 50, 157, 0.965);
}

.flashcard-header {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px;
}



.ResetBtn{
  position: absolute;
  right: 0; 
  margin-right: 180px;
  
  background-color: #db43a8c5;
  color: black;
  border: none;
  padding: 10px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
}

.ResetBtn:hover{
   background-color: #de1b9d;
}

.flashcard-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
  gap: 24px;
  justify-content: center;
  padding-bottom: 50px;
}

.flashcard {
  width: 260px;
  height: 320px;
  perspective: 1000px;
  cursor: pointer;
}

.flashcard:hover{

  transform: translateY(-5px);
  transition: transform 0.2s ease;
}

.flashcard:hover .flashcard-inner:not(.flipped){
  transform: rotateY(10deg) rotateX(3deg) scale(1.03);
}


.flashcard-inside{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform-style: preserve-3d;
  
  
}

.flashcard-inside.flipped {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
   
  
  background-color: rgba(241, 239, 232, 0.925);
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.08);
  cursor: pointer;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flashcard-back {
  transform: rotateY(180deg);
}

.flashcard-content{
  text-align: center;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
  word-break: break-word;
  color: rgb(101, 101, 101);
} 


.flashcard-back{
  overflow-y: scroll;
}

.fade-out {
  animation: fadeOut 0.7s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}


.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  margin-top: auto;
}

.deletebtn{
  background-color: rgba(142, 137, 137, 0.765);
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 40%;
  align-self: flex-end;
  cursor: pointer;
}


.deletebtn:hover{
  background-color: rgba(255, 0, 0, 0.965);
}

.editbtn{
  background-color: rgba(142, 137, 137, 0.765);
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 40%;
  align-self: flex-end;
  cursor: pointer;
}

.editbtn:hover{
  background-color: rgba(0, 255, 0, 0.55);
  
}